/*ejemplo2.css JP17003*/
pais {background-color:#18259e;} 
departamento {background-color:#d5d8f4; display:block;} 
cabecera {color:black; display:inline;} 
habitantes {color:#e9813a; display:inline;}

altura{color:#4c245d; display:block;}