/*ejercicio2a.css JP17003*/
pais {background-color:#9648b7;} 
departamento {background-color:#6ecd72; display:block;} 
cabecera {color:#5b88b8; display:inline;} 
habitantes {color:black; display:inline;} 
altura{color:#4c245d; display:block;}
areaTerritorial{color:#c47f14; display:inline;}